.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 50%;
  /* background-color: var(--bg-primary-light); */
  /* border: 1px solid gray; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.login-register-buttons {
  width: 100%;
}

.text {
  width: 100%;
  text-align: center;
}

.login-form-field {
  width: 100%;
}

.password {
  margin-top: 1rem;
}

.forgot-password {
  text-align: right;
  font-size: smaller;
}

.forgot-password p {
  margin: 0px;
}