.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-light);
}

.login-card-container {
  width: 50%;
  display: flex;
}

.login-card {
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.login-register-buttons {
  width: 100%;
}

.text {
  width: 100%;
  text-align: center;
}

.login-form-field {
  display: flex;
  flex-grow: 1;
}

.login-button {
  justify-content: right;
}

.password {
  margin-top: 1rem;
}

.forgot-password {
  text-align: right;
  justify-content: right;
  font-size: smaller;
}

.forgot-password p {
  margin: 0px;
  cursor: pointer;
}

.tabs {
  width: 100%;
}

@media (max-width: 1000px) {
  .login-card-container {
    width: 90%;
  }
}