@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF7F5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #FAF7F5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, system-ui, sans-serif;
}