# Dependencies
node_modules/
**/.venv/
**/venv/

# Environment variables
**/.env
**/.env.local
**/.env.*.local

# Build outputs
.next/
**/__pycache__/
**/*.pyc

# IDE
.vscode/
.idea/

# System files
.DS_Store