# LangChain and associated tools
langchain==0.2.0
langchain-openai==0.1.7
langchain-community==0.2.0
langchain-text-splitters==0.2.0
langchain-huggingface==0.0.1
langchain-chroma
langgraph==0.1.1

# Vector database and embeddings
sentence-transformers==2.7.0

# LLM tokenization and text handling
tiktoken==0.7.0
spacy

# PDF and document processing
pymupdf==1.24.4
pypdf==4.2.0
unstructured[all-docs]==0.14.0

# Auxiliary tools
# jq==1.7.0


