.header {
    background-color: var(--bg-navbar-light);
    padding: 0px 90px;
    top: 0;
    width: calc(100% - 180px);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.header h4 {
    font-size: 40px;
    font-weight: 300;
    margin: 0px;
    margin-left: 1rem;
}

/* .headerStack { */
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
/* } */

.icon {
    display: flex;
    flex: 1;
    align-items: center;
}

.navBar {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

.menuDropdown {
    display: none;
}

.navBarMenu {
    display: none;
    flex: 1;
    justify-content: right;
    align-items: center;
}

@media (max-width: 1000px) {
    .header h4 {
        display: none;
    }

    .navBar {
        display: none;
    }

    .navBarMenu {
        display: flex;
    }

    .menuDropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}