.mainblock {
    background-color: var(--bg-primary-light);
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 2rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainblockTopLeft {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding-left: 5rem;
    justify-content: center;
    align-items: center;
}

.mainblockTopLeft h1 {
    font-size: 56.6;
    font-weight: 500;
}

.mainblockTopRight {
    flex: 1;
}

.mainblockTopLeftTop {
    flex: 1;
}

.mainblockTopLeftBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}