.mainblock {
    background-color: var(--bg-primary-light);
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 2rem;
    height: calc(100vh - 105px);
    justify-content: center;
    align-items: center;
}

.mainblockTopLeft {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding-left: 10rem;
}

.mainblockTopLeft h1 {
    font-size: 56.6;
    font-weight: 500;
}

.mainblockTopRight {
    flex: 1;
}

.mainblockTopLeftTop {

}

.mainblockTopLeftBottom {
    display: flex;
    flex-direction: row;
}