/* Main Chatbot Container */
.chatbot-container {
    display: flex;
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-color: #f4f4f9;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
    transform: translateX(0);
}

.sidebar:not(.visible) {
    transform: translateX(-100%);
    position: absolute;
}

.close-sidebar {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

/* Chatbox Styling */
.chatbox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    /* background-color: #007bff; */
    color: white;
}

.menu-button {
    background: none;
    border: none;
    /* color: white; */
    cursor: pointer;
    font-size: 20px;
}

.options-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}