/* WorkWithAnthropic.css */
.work-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F2EC;
    padding: 40px;
}

.work-card {
    display: flex;
    align-items: center;
    background-color: var(--bg-primary-light);
    flex-wrap: wrap;
    padding: 24px;
}

.work-image {
    width: 50%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
}

.work-content {
    /* padding: 20px; */
    width: 50%;
}

.work-heading {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.work-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}