.footer {
    background-color: var(--bg-primary-light);
    border-top: 1px solid black;
    width: 100%;
}

.topFooter {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    align-items: center;
}

/* Left section */
.topLeftFooter {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* Right section */
.topRightFooter {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/* Responsive Design */
@media (max-width: 768px) {
    .topFooter {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        text-align: center;
    }

    .topLeftFooter,
    .topRightFooter {
        flex: unset;
        width: 100%;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
}
