@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-blue: #3B82F6;
  --primary-green: #293D33;

  --text-primary-light: #131010;
  --text-primary-dark: #FFF0DC;

  --text-secondary-light: #543A14;
  --text-secondary-dark: #F0BB78;

  --bg-primary-light: #FFF0DC;
  --bg-primary-dark: #131010;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: #F8FAFD;
  --bg-navbar-dark: rgb(29, 29, 58);

  --card-bg: rgba(255, 255, 255, 0.8);
  --chat-recieved-bg: #D0DCD7;

  /* chat background 8DA99A B0C4BA D0DCD7 E4EBE8 F2F6F4 */
  /* --bg-white:  */

  --bg-gradient: #F8FAFD;
  --text-primary: #2d3748;
  --text-secondary: #4a5568;
  --accent-color: #4299e1;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
}

body {
  background: var(--card-bg);
  color: var(--text-primary);
  transition: background-color 0.3s ease;
}

body.dark-mode {
  --bg-gradient: linear-gradient(135deg, #2d3748 0%, #1a202c 100%);
  --text-primary: #f7fafc;
  --text-secondary: #e2e8f0;
  --card-bg: rgba(26, 32, 44, 0.8);
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.App {
  text-align: center;
  font-family: 'Poppins', 'Inter', sans-serif;
}

body {
  font-family: 'Poppins', "Inter", sans-serif;
}

.flex {
  display: flex;
  flex: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  /* grid-template-rows: 70px 1fr 100px; */
}

h2 {
  color: var(--primary-green);
}

.card {
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  flex-grow: 1;
}

.v1 {
  font-size: large;
  font-weight: 700;
  color: var(--primary-blue),
}

.v2 {
  font-size: large;
  font-weight: 700;
  color: var(--text-primary-light);
}

.bv1 {
  border-radius: 2rem;
  padding: 1rem;
  border-width: 10px;
}

.bv2 {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}