.main-container {
    /* padding: 8rem 12rem; */
    overflow: scroll;
    width: 50%;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.main-container-content-wrapper {
    margin: 0 auto,
}

.main-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container-header-h1 {
    font-size: x-large;
    font-weight: bold;
    color: #333;
    margin: 0px;
}

.main-container-button-group {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.main-container-button-group-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-container-recent-chats-container {
    margin-top: 1.5rem;
}

.main-container-recent-chats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container-recent-chats-title {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.main-container-recent-chats-grid {
    margin-top: 1rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.main-container-recent-chats-card {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.main-container-recent-card-heading {
    font-size: 14px;
    margin: 0px 8px;
    text-align: left;
}

.main-container-recent-card-time {
    text-align: right;
    font-size: 10px;
}

/*
  planBadge: {
    backgroundColor: "#e0c3fc",
    color: "#6a0dad",
    padding: "5px 10px",
    borderRadius: "16px",
    fontSize: "12px",
  },
 */