.project-wrapper {
    /* display: flex; */
    padding: 1rem 12rem;
    overflow: scroll;
}

.top-search {
    display: flex;
    flex-direction: row;
}

.left-new-project {
    display: flex;
    flex: 1;
    gap: 10px;
    margin-bottom: 1rem;
}

.right-search-project {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-bottom: 1rem;
}

.recent-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.project-title {
    margin: 0px;
    text-align: left;
}

.project-description {
    margin: 0px;
    text-align: left;
}

.project-updated {
    font-size: 10px;
    text-align: right;
    margin: 0px;
}

@media (max-width: 1000px) {
    .project-card {
        width: 90%;
    }
}